.people {
    width: 100%;
}
.people__conteiner {
    width: 100px;
    margin: 10px;
}
.people__profile {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.people__profile-img {
    height: 150px;
    box-shadow: 0 0 20px 0 #0000008c;
    transition: .2s all;
}
.people__profile-img:hover {
    height: 155px;
}
.people__name {
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}