.breadcrumbs {
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
}
.breadcrumbs span {
    font-size: 13px;
}
.breadcrumbs a:hover {
    color: #ffd400;
}
.breadcrumb_separetor {
    margin: 0 5px;
}
.breadcrumb_active {
    color: #ffd400;
}