.ban-movies {
    margin: 0;
    padding: 0;
}
.ban-movie__conteiner {
    width: 140px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
.ban-movie__poster {
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ban-movie__poster-img {
    height: 210px;
    box-shadow: 0 0 20px 0 #000000;
    transition: .5s all;
}
.ban-movie__poster-img:hover {
    height: 230px;
    transition: .5s all;
}
.ban-movie__info {
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ban-movie__title {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ban-movie__title_color {
    color: #ffffff67;
}
.ban-movie__details {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(163, 163, 163, 0.363);
    font-size: 12px;
}