.section-people {
    width: 100%;
}
.section-people_main-block {
    margin: 30px 0;
    background-color: white;
    box-shadow: 0 0 20px 0 #0000003a;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px;
}
.section-people__header {
    display: flex;
    flex-direction: column;
}
.section-people__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-people__info {
    margin-left: 10px;
    width: 100%;
    color: #555;
    display: flex;
    justify-content: left;
}
.section-people__movie-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.section-people__button {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.section-people__button-text {
    color: #555;
    font-size: 13px;
    border-bottom: 1px dotted #bebebe;
}
.section-people__button-icon {
    color: #ffd400;
    margin-left: 10px;
}

/* Props style */
.section-people__logo {
    background-image: url('./actors.png');
}
.section-people__search {
    width: 250px;
    height: 40px;
    line-height: 40px;
    color: #555;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 20px;
    transition: .1s all;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-people__search:hover {
    border-bottom: 1px solid #ffd400;
}