.banner {
    width: 100%;
    }
.banner__menu_style {
    background-color: rgb(248, 249, 250);
}
.banner__img {
    height: 500px;
    background-image: url(./banner.png);
    width: 100%;
    background-position: center;
}
