body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 229, 229);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;

}
input{
  border:none;
  background:none;
  outline:none;
  padding:0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a:active, a:focus { outline: none; }


button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.container {
  margin-right: auto ;
  margin-left: auto;
  transition: .5s all;
}
.headerContainer {
  width: 100%;
}
.mainContainer {
  position: relative;
  width: 100%;
  margin: 50px 0;
  min-height: 690px;
  
}
.section {
  width: 100%;
  margin: 50px 0;
}
.footer {
  width: 100%;
  background-color: black;
}
.section__container {
  background-color: white;
  box-shadow: 0 0 20px 0 #0000003a;
}

@media (min-width: 570px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 770px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 990px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}